<div class="wrapper-md" ng-controller="dailyScheduleController">
   <!--  <div class="row">
        
        
    </div> -->
    <div class = "row">
        <div class="col-sm-3">
            <div my-calendar change-date="changedDate" select-date="selectedDate(date)"></div>
            <div style="float: left">
                <span class="label label-default">已完成</span>
                <span class="label" style="color: #000;border: 1px solid #000;">未完成</span>
                <span class="label label-danger">已修改</span>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span style="font-size: 16px; font-weight: 800;">{{departDate}}</span>&nbsp;&nbsp;排班
                    <form class="row wrapper col-sm-3" style="float: right; padding: 0;" id="J_search_form">
                        <div class="input-group">
                            <input type="text" class="input-sm form-control" name="keyword" placeholder="请输入线路名称" ng-model="search_context">
                            <span class="input-group-btn">
                            <button class="btn btn-sm btn-default" ng-click="pageRequest.getResponse()" type="button">查询</button>
                            </span>
                        </div>
                    </form>
                </div>
                <div class="table-responsive">
                    <table  cellpadding="0" cellspacing="0" border="0" class=" dataTable table table-striped b-t b-light table-condensed text-xs">
                        <thead>
                        <tr>
                            <th>是否运营</th>
                            <th>线路</th>
                            <th>班次名称</th>
                            <th>运营时间</th>
                            <th>排班有效时间</th>
                            <th>出发时间</th>
                            <th>车辆</th>
                            <th>司机</th>
                            <!-- <th>操作</th> -->
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in pageResponse.busDetails track by $index">
                            <td>
                                <span class="label btn-info" ng-show="item.isDisplay">运营</span>
                                <span class="label btn-danger" ng-show="!item.isDisplay">未运营</span>
                            </td>
                            <td ng-bind="item.linename"></td>
                            <td ng-bind="item.bsname"></td>
                            <td>{{formatWeeks(item.weeks)}}</td>
                            <td>{{item.startDate | date:'yyyy-MM-dd' }}&nbsp;<span ng-show="!!item.startDate">至</span>&nbsp;{{item.endDate | date:'yyyy-MM-dd'}}</td>
                            <td ng-bind="item.platenum"></td>
                            <td ng-bind="item.departTime"></td>
                            <td ng-bind="item.drivername"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <footer class="panel-footer">
                    <div class="box-body" table-pagination></div>
                </footer>
            </div>
        </div>
    </div>
    
</div>
