<div class="modal-header">
    <h6 class="modal-title">排班详情</h6>
</div>
<div class="modal-body">
    <div class="panel-body text-xs">
        <div class="row">
            <div ng-class="{true: 'col-sm-6', false: 'col-sm-12'}[backLineType]" class="table-responsive" style="padding: 0;">
                <table  cellpadding="0" cellspacing="0" border="0" class=" dataTable table table-striped b-t b-light table-condensed">
                    <thead>
                        <tr>
                            <!-- <th>班次序号 -->
                               <!--  <a ng-click="scheduleToggle()">
                                    <span class="label label-primary">新增</span>
                                </a> -->
                            <!-- </th> -->
                            <th>
                                <span class="label label-success" ng-if="backLineType">去程</span>
                                班次名称
                            </th>
                            <!-- <th>司机ID</th> -->
                            <th>司机</th>
                            <th>车牌号</th>
                            <!-- <th>线路名称</th> -->
                            <th>发车时间</th>
                            <!-- <th>单价</th> -->
                            <!-- <th>操作</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in goLineBs">
                            
                            <!-- <td ng-bind="item.bsid"></td> -->
                            <td ng-bind="item.bsname"></td>
                            <!-- <td  ng-bind="item.driverid"></td> -->
                            <td  ng-bind="item.drivername"></td>
                            <td  ng-bind="item.platenum"></td>
                            <!-- <td  ng-bind="item.linename"></td> -->
                            <td  ng-bind="item.departtime"></td>
                            <!-- <td ng-bind="item.price"></td> -->
                            <!-- <td>
                                <a ng-click="deleteSchedule(item)">
                                  <span class="label btn-danger">删除</span>
                                </a>
                            </td> -->
                    </tbody>
                </table>
            </div>

            <div ng-if="backLineType" class="col-sm-6 " style="padding: 0;">
               <div class="table-responsive">
                    <table  cellpadding="0" cellspacing="0" border="0" class=" dataTable table table-striped b-t b-light table-condensed">
                        <thead>
                            <tr>
                                <!-- <th>
                                    <label class="i-checks m-b-none">选择</label>
                                </th> -->
                                <!-- <th>班次序号 -->
                                   <!--  <a ng-click="scheduleToggle()">
                                        <span class="label label-primary">新增</span>
                                    </a> -->
                                <!-- </th> -->
                                <th>
                                    <span class="label label-info" ng-if="backLineType">返程</span>
                                    班次名称
                                </th>
                                <!-- <th>司机ID</th> -->
                                <th>司机</th>
                                <th>车牌号</th>
                                <!-- <th>线路名称</th> -->
                                <th>发车时间</th>
                                <!-- <th>单价</th> -->
                                <!-- <th>操作</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in backLineBs">
                                <!-- <td>
                                    <label class="i-checks m-b-none">
                                        <input type="radio" name="selectRoute" ng-click="selectSchedule(item)"><i></i>
                                    </label>
                                </td> -->
                                <!-- <td ng-bind="item.bsid"></td> -->
                                <td ng-bind="item.bsname"  style="border-left: 1px solid #EAEFF0"></td>
                                <!-- <td  ng-bind="item.driverid"></td> -->
                                <td  ng-bind="item.drivername"></td>
                                <td  ng-bind="item.platenum"></td>
                                <!-- <td  ng-bind="item.linename"></td> -->
                                <td  ng-bind="item.departtime"></td>
                                <!-- <td ng-bind="item.price"></td> -->
                               <!--  <td>
                                    <a ng-click="deleteSchedule(item)">
                                      <span class="label btn-danger">删除</span>
                                    </a>
                                </td> -->
                            </tr>
                        </tbody>
                    </table>
               </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" ng-click="ok()">关闭</button>
</div>