<div class="wrapper-md" ng-controller="addCarOrderController">
    <div class="panel panel-default" ng-show="!showTicket">
        <div class="panel-heading">
            添加线下车票
            <a ui-sref="app.carorder.add_view" style="margin-left: 30px;color: #777;">
                添加线下门票
             </a>
        </div>
        <div class="panel-body">
            <form class="form-horizontal form-validation" name="form">
                <div class="line line-dashed b-b line-lg pull-in"  ng-if="session_user.access == 'systemUser'"></div>
                <div class="form-group" ng-if="session_user.access == 'systemUser'">
                    <label class="col-sm-1 control-label">线下门店<span class="text-danger text-md ">*</span></label>
                    <div class="col-sm-11" ng-click="loadTicketSource()">
                        <!-- <input class="form-control" type="text" ng-model="ticketSourceName" ng-if="!carorder.havePower" disabled> -->
                        <select class="form-control" ng-init="carorder.offline = '0'" ng-model="carorder.offline" ng-required="true" ng-change="showSourceid()">
                            <option value="0" style="display: none;">请选择</option>
                            <option ng-repeat="item in ticketSourceList.sources" value="{{item.ticketSource}}">{{item.ticketSource}}</option>
                        </select>
                    </div>
                </div>
               
                <div class="form-group" ng-if="carorder.needSourceId">
                    <label class="col-sm-1 control-label">来源票ID<span class="text-danger text-md ">*</span></label></label>
                    <div class="col-sm-11">
                        <input type="text"  class="form-control"
                               name="ticketNum"
                               ng-pattern="/^[0-9]{1,30}$/"
                               ng-model="carorder.sourceid"
                               ng-required = "true"
                               >
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-1  text-right">
                        <label class="control-label">出发日期<span class="text-danger text-md ">*</span></label>
                    </div>
                    <div class="col-sm-5">
                        <input type="text" placeholder="注册时间如2017-01-01" class="form-control" ng-click="scheduleTime.open($event)" datepicker-popup="{{scheduleTime.format}}" name="regDate" ng-model="departDate" is-open="scheduleTime.opened" datepicker-options="scheduleTime.dateOptions" close-text="关闭" clear-text="清空"  current-text="今天" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-1  text-right">
                        <label class="control-label">客户姓名<span class="text-danger text-md "></span></label>
                    </div>
                    <div class="col-sm-11">
                        <input type="text"  class="form-control"
                               name="userName"
                               ng-model="carorder.name"
                               >
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-1  text-right">
                        <label class="control-label">客户手机<span class="text-danger text-md "></span></label>
                    </div>
                    <div class="col-sm-11">
                        <input type="text"  class="form-control"
                               name="userPhone"
                               ng-model="carorder.userPhone"
                               >
                    </div>
                </div>
            </form>
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="panel b-a">
                <div class="panel-heading b-b b-light">
                    添加排班
                    <span class="text-danger text-md ">*</span>
                </div>
                <table  cellpadding="0" cellspacing="0" border="0" class=" dataTable table table-striped b-t b-light table-condensed text-xs">
                    <thead>
                    <tr>
                        <th>线路</th>
                        <th>班次名称</th>
                        <th>起点</th>
                        <th>终点</th>
                        <th>发车地址</th>
                        <th>车牌号</th>
                        <th>出发时间</th>
                        <th>车票价格(元)</th>
                        <th>数量</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in carorder.schedule track by $index">
                        <td ng-bind="item.linename"></td>
                        <td ng-bind="item.bsname"></td>
                        <td ng-bind="item.departName"></td>
                        <td ng-bind="item.arriveName"></td>
                        <td ng-bind="item.departaddr"></td>
                        <td ng-bind="item.platenum"></td>
                        <td ng-bind="item.departTime"></td>
                        <th ng-bind="item.price"></th>
                        <td>
                            <button style="width: 20px;display: inline-block" ng-click="min(item)">-</button>
                            <input type="text" style="width:30px; display: inline-block;text-align: center;" ng-init="item.count = 1" ng-model="item.count">
                            <button style="width: 20px;display: inline-block" ng-click="add(item)">+</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
                    <!--选择器-->
                <!-- <div class="wrapper b-light text-center">
                    <a href class="btn btn-danger btn-addon" ng-click="selectScheduleToggle()"><i class="fa fa-plus"></i>
                        添加排班
                    </a>
                </div> -->
                <div class="bg-light" style="margin-top:20px;">
                    <div class="panel panel-default" ng-show="departDate">
                        <div class="panel-heading">
                            &nbsp;&nbsp;排班
                            <form class="row wrapper col-sm-3" style="float: right; padding: 0;" id="J_search_form">
                                <div class="input-group">
                                    <input type="text" class="input-sm form-control" name="keyword" placeholder="请输入线路名称" ng-model="search_context">
                                    <span class="input-group-btn">
                                    <button class="btn btn-sm btn-default" ng-click="pageRequest.getResponse()" type="button">查询</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                        <div class="">
                            <table  cellpadding="0" cellspacing="0" border="0" class=" dataTable table table-striped b-t b-light table-condensed text-xs">
                                <thead>
                                <tr>
                                    <th>选择班次</th>
                                    <th>线路</th>
                                    <th>班次名称</th>
                                    <th>运营时间</th>
                                    <th>排班有效时间</th>
                                    <th>起点</th>
                                    <th>终点</th>
                                    <th>发车地址</th>
                                    <th>车牌号</th>
                                    <th>出发时间</th>
                                    <th>车票价格(元)</th>
                                    <th>时长</th>
                                    <th>余票/总票数</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in pageResponse.busDetails track by $index">
                                    <td>
                                        <label class="i-checks m-b-none" ng-show="item.isDisplay">
                                            <input type="checkbox" ng-checked="item.checked" ng-disabled="item.leftTickets==0" name="selectSchedule" ng-click="selectSchedule(item,$index)"><i></i>
                                        </label>
                                        <span class="label label-danger" ng-show="!item.isDisplay">不在运营时间</span>
                                    </td>
                                    <td ng-bind="item.linename"></td>
                                    <td ng-bind="item.bsname"></td>
                                    <td>{{formatWeeks(item)}}</td>
                                    <td>{{item.startDate | date:'yyyy-MM-dd' }}&nbsp;<span ng-show="!!item.startDate">至</span>&nbsp;{{item.endDate | date:'yyyy-MM-dd'}}</td>
                                    <td ng-bind="item.departName"></td>
                                    <td ng-bind="item.arriveName"></td>
                                    <td ng-bind="item.departaddr"></td>
                                    <td ng-bind="item.platenum"></td>
                                    <td ng-bind="item.departTime"></td>
                                    <th ng-bind="item.price"></th>
                                    <th>{{item.drivetime}} 分</th>
                                    <td>
                                        剩 {{item.leftTickets}} 张 / {{item.totalTickets}} 张
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <footer class="panel-footer">
                            <div class="box-body" table-pagination></div>
                        </footer>
                    </div>
                </div>
            </div>
            <div class="form-group" style="margin-bottom: 60px;">
                <div class="col-sm-offset-2" style="float: right;margin-right: 15px;">
                    <button type="reset" ng-show="!editMode" ng-click="reset()" class="btn btn-default">清空</button>
                    <button type="submit" ng-click="submit()" ng-disabled="submiting" class="btn btn-primary m-l">提交</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-if="showTicket">
        <div class="panel panel-default">
            <div class="panel-heading">
                导出车票<span>共计:&nbsp;&nbsp;{{ticket.payPrice}}&nbsp;元</span>
            </div>
            <div class="panel-body" >
                <div class="row">
                    <div class="col-md-6 col-lg-4" ng-repeat="item in tickets">
                        <div ticket ticket-information="item"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>