<div class="wrapper-md" ng-controller="CarOrderListController">
  	<div class="panel panel-default">
    	<div class="panel-heading">
		    <!-- <ul class="nav nav-pills pull-right">
		      <li style=" padding-top:4px; padding-right:15px"><button class="btn m-b-xs btn-sm btn-primary btn-addon" ui-sref=""><i class="fa fa-plus"></i>添加直通车订单</button></li>
		    </ul> -->
     		 直通车订单列表
     		 <a ui-sref="app.carorder.view_list" style="margin-left: 30px;color: #777;">
     		 	景区门票订单
     		 </a>
     		 <ul class="nav nav-pills pull-right">
	            <li style=" padding-top:4px; padding-right:15px"><button class="btn m-b-xs btn-sm btn-primary btn-addon" ui-sref="app.carorder.add"><i class="fa fa-plus"></i>添加线下车票</button></li>
	            <li style=" padding-top:4px; padding-right:15px" ng-click="exportToExcel()"><button class="btn m-b-xs btn-sm btn-info btn-addon"><i class="fa fa-file-excel-o"></i>导出到Excel</button></li>
	        </ul>
		</div>
    	<form class="row wrapper" id="J_search_form" ng-submit="pageRequest.getResponse()" style="padding-top:0;padding-bottom: 0;">
	      	<!-- <div class="col-sm-5 m-b-xs">
	        	<button class="btn m-b-xs btn-sm btn-default btn-addon" disabled><i class="fa fa-trash-o"></i>批量删除</button>
	      	</div>
			<div class="col-sm-3">
			</div>
	      	<div class="col-sm-4">
	       	 	<div class="input-group">
	          		<input type="text" class="input-sm form-control" name="keyword" placeholder="输入订单相关信息">
	          		<span class="input-group-btn">
	            		<button class="btn btn-sm btn-default">查询</button>
	          		</span>
	        	</div>
	      	</div> -->
            <div class="row wrapper form-horizontal">

                <div class="col-sm-1" ng-if="session_user.access == 'systemUser'">
                    <label class="control-label f12">票据来源</label>
                </div>
                <div class="col-sm-3" ng-if="session_user.access == 'systemUser'">
                    <!-- <input id="ticketSource" type="text" class="input-sm form-control"  name="ticketSource" placeholder="请输入票据来源" ng-model="orderList.ticketSource"> -->
                    <input id="ticketSource" type="text" name="ticketSource" ng-model="carorder.tmpOfflineId" style="display: none;">
                    <select class="form-control" ng-init="carorder.offline = '0'" ng-model="carorder.offline" ng-required="true" ng-change="showSourceid()">
	                    <option value="0" style="display: none;">请选择</option>
	                    <option ng-repeat="item in ticketSourceList.sources" value="{{item.ticketSource}}">{{item.ticketSource}}</option>
	                </select>
                </div>
                <div class="col-sm-1">
                    <label class="control-label f12">支付状态</label>
                </div>
                <div class="col-sm-3">
                    <select  class="input-sm form-control"  name="viewOrderStatus" ng-init="orderList.viewOrderStatu = '0'" ng-model="orderList.viewOrderStatu">
                        <option ng-repeat="viewOrderStatu in viewOrderStatus" value="{{viewOrderStatu}}"  placeholder="支付状态" selected = "selected">
                           {{selectname[viewOrderStatu]}}
                        </option>
                    </select>
                </div>
                 <div class="col-sm-1">
                    <label class="control-label f12">车票ID</label>
                </div>
                <div class="col-sm-3">
                    <input type="text" class="form-control" name="ticketid" placeholder="请输入车票ID">
                </div>
            	<div class="col-sm-4 col-sm-offset-8">
                    <button class="btn btn-sm btn-primary pull-right" style="margin-top: 15px;">搜索</button>
                </div>
            </div>
	    </form>
    	<div class="table-responsive" style="overflow: hidden">
	      	<table cellpadding="0" cellspacing="0" border="0" class=" dataTable table table-striped b-t b-light table-condensed text-xs">
	        	<thead>
	        		<tr>
	          			<th sort-name = "VIEWORDERID">订单ID</th>
						<th sort-name = "TICKETSOURCE">票据来源</th>
						<th sort-name = "USERNAME">用户名</th>
						<!-- <th sort-name = "HAVETICKET">景区门票</th> -->
						<th sort-name = "DEPARTDATE">发班日期</th>
						<th sort-name = "DEPARTTIME">发车时间</th>
						<th sort-name = "REFUNDTIME">申请退款时间</th>
						<th sort-name = "ORDERPRICE">票价</th>
						<th sort-name = "PAYPRICE">实付</th>
						<!-- <th>评论图片</th> -->
						<!-- <th sort-name = "ISSHOW">评论是否显示</th> -->
						<th sort-name = "HAVECOUPON">优惠券</th>
						<th sort-name = "VIEW_ORDER_STATUS">订单状态</th>
						<th sort-name = "SOURCEID">来源票ID</th>
						<th>打印车票</th>
						<th>操作</th>
					</tr>
	        	</thead>
	        	<tbody>
		        	<tr ng-repeat="item in pageResponse.viewOrders">
		        		<td ng-bind="item.viewOrderid"></td>
						<td ng-bind="item.ticketSource"></td>
						<td ng-bind="item.username"></td>
						<!-- <td>
							<span ng-if="item.haveTicket == 1" class="label label-warning">门票</span>
						</td> -->
						<td>{{item.departDate | date: 'yyyy-MM-dd'}}</td>
						<td ng-bind="item.departTime"></td>
						<td>{{item.refundTime | date: 'yyyy-MM-dd HH:MM'}}</td>
						<td ng-bind="item.price"></td>
						<td ng-bind="item.payPrice"></td>
						<!-- <td>
							<a ng-if="!item.images[0]" ui-sref="app.carorder.uploadimage({id:item.viewOrderid})">
							  	<span class="label btn-info">上传图片</span>
							</a>
							<a ng-if="item.images[0]" ng-click="openCarorderImageModal(item.images)">
							  	<span class="label btn-success">查看图片</span>
							</a>
						</td>
						<td>
							<label class="i-checks m-b-none">
							  	<input type="checkbox" ng-model="item.isShow" ng-click="isShow(item.viewOrderid, item.isShow)"><i></i>
							</label>
						</td> -->
						<td>
							<span ng-if="item.haveCoupon">优惠券</span>
						</td>
						<td>
							<span ng-if="item.viewOrderStatus == 1">未付费</span>
							<span ng-if="item.viewOrderStatus == 2">已付费未使用</span>
							<span ng-if="item.viewOrderStatus == 3">已使用</span>
							<span ng-if="item.viewOrderStatus == 4">正在退款</span>
							<span ng-if="item.viewOrderStatus == 5">已退款</span>
						</td>
						<td ng-bind="item.sourceid"></td>
						<td>
							<a ng-click="printTicket(item)" ng-if="(item.viewOrderStatus == 2 && item.ticketSource != '线上')">
							  	<span class="label btn-success">打印车票</span>
							</a>
							<a ng-if="(item.viewOrderStatus != 2 || item.ticketSource == '线上')" style="cursor: default;">
							  	<span class="label label-default">打印车票</span>
							</a>
						</td>
						<td>
							<a  ng-if="item.viewOrderStatus == 2"  ng-click="checkTicket(item.viewOrderid)">
							  	<span class="label label-danger">验票</span>
							</a>
							<a  ng-if="item.viewOrderStatus != 2" >
							  	<span class="label label-default">验票</span>
							</a>
							<a ng-click="openDetailModel(item)">
							  	<span class="label btn-info">详情</span>
							</a>
							<a ng-if="item.viewOrderStatus == 2 || (item.viewOrderStatus == 4 && item.refundTime)" ng-click="applyRefund(item)">
							  	<span class="label btn-danger">退款</span>
							</a>
							<a ng-if="item.viewOrderStatus != 2 && !(item.viewOrderStatus == 4 && item.refundTime)" style="cursor: default;">
							  	<span class="label label-default">退款</span>
							</a>
						</td>
		        	</tr>
		        </tbody>
	  		</table>
    	</div>
	    <footer class="panel-footer">
	      	<div class="box-body" table-pagination></div>
	    </footer>
  	</div>
</div>