<div class="wrapper-md" ng-controller="ViewListController">
  	<div class="panel panel-default">
    	<div class="panel-heading">
		    <!-- <ul class="nav nav-pills pull-right">
		      <li style=" padding-top:4px; padding-right:15px"><button class="btn m-b-xs btn-sm btn-primary btn-addon" ui-sref=""><i class="fa fa-plus"></i>添加直通车订单</button></li>
		    </ul> -->
     		 景点列表
     		 <ul class="nav nav-pills pull-right">
	            <li style=" padding-top:4px; padding-right:15px"><button class="btn m-b-xs btn-sm btn-primary btn-addon" ui-sref="app.view.add"><i class="fa fa-plus"></i>添加景点</button></li>
	        </ul>
		</div>
		<form class="row wrapper" id="J_search_form" ng-submit="pageRequest.getResponse()" >
      		<div class="col-sm-5 m-b-xs">
        		<!-- <button class="btn m-b-xs btn-sm btn-default btn-addon" disabled><i class="fa fa-trash-o"></i>批量删除</button> -->
      		</div>
	      	<div class="col-sm-3">
	      	</div>
      		<div class="col-sm-4">
        		<div class="input-group">
          			<input type="text" class="input-sm form-control" name="keyword" placeholder="输入景点名称">
          			<span class="input-group-btn">
            			<button class="btn btn-sm btn-default" >查询</button>
          			</span>
        		</div>
      		</div>
    	</form>
    	<div class="table-responsive" style="overflow: hidden">
	      	<table cellpadding="0" cellspacing="0" border="0" class=" dataTable table table-striped b-t b-light table-condensed text-xs">
	        	<thead>
	        		<tr>
						<th sort-name = "VIEWID">景点ID</th>
						<th sort-name = "VIEW_NAME">景点名称</th>
						<th sort-name = "VIEW_ADDR">景点地址</th>
						<th>景点简介</th>
						<th sort-name = "VIEW_TYPE">景点类型</th>
						<th sort-name = "VIEW_LEVEL">景点级别</th>
						<th>景点图片</th>
						<th>注意事项</th>
						<th>票价管理</th>
						<th>账号管理</th>
						<th>操作</th>
					</tr>
	        	</thead>
	        	<tbody>
		        	<tr ng-repeat="item in pageResponse.viewInfos">
		        		<td ng-bind="item.viewid"></td>
						<td ng-bind="item.viewName"></td>
						<td ng-bind="item.viewaddr"></td>
						<td ng-bind="item.viewintru"></td>
						<td ng-bind="item.viewType"></td>
						<td ng-bind="item.viewLevel"></td>
						<td>
							<a ng-click="openImageModal(item.viewUrl)">
	                            <span class="label label-primary">查看图片</span>
	                        </a>
						</td>
						<td>
							<a ng-click="openViewUserModel(item.notice)">
	                            <span class="label label-success">查看</span>
	                        </a>
						</td>
						<td>
							<a ng-click="openViewPriceModel(item.viewPrices)">
	                            <span class="label label-info">查看</span>
	                        </a>
						</td>
						<td>
							<a ng-click="openAdminModal(item.viewAdmin)">
	                            <span class="label label-info">查看</span>
	                        </a>
						</td>
						<td>
							<a ui-sref="app.view.edit({id:item.viewid})">
	                            <span class="label label-primary">编辑</span>
	                        </a>
	                        <a ng-click="delete(item.viewid)">
	                            <span class="label label-danger">删除</span>
	                        </a>
						</td>
		        	</tr>
		        </tbody>
	  		</table>
    	</div>
	    <footer class="panel-footer">
	      	<div class="box-body" table-pagination></div>
	    </footer>
  	</div>
</div>