<div class="modal-header">
    <h4 class="modal-title">景区详情</h4>
</div>
<div class="modal-body">
    <div class="row" style="padding:20px;">
    	<div class="col-sm-2">名称</div>
    	<div class="col-sm-10">
        	{{itemInfo.viewName}}
    	</div>
    </div>
    <div class="row" style="padding:20px;">
        <div class="col-sm-2">类型</div>
    	<div class="col-sm-10">
        	{{itemInfo.viewType}}
    	</div>
    </div>
    <div class="row" style="padding:20px;">
        <div class="col-sm-2">地址</div>
    	<div class="col-sm-10">
        	{{itemInfo.viewaddr}}
    	</div>
    </div>
    <div class="row" style="padding:20px;">
        <div class="col-sm-2">简介</div>
    	<div class="col-sm-10">
        	{{itemInfo.viewintru}}
    	</div>
    </div>
    
    <div class="row" style="padding:20px;">
        <div class="col-sm-2">图片</div>
    	<div class="col-sm-10">
        	<img ng-src="{{itemInfo.viewUrl}}" class="img-responsive"/>
    	</div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" ng-click="ok()">关闭</button>
</div>