<div class="wrapper-md" ng-controller="Charterbus">
    <div class="panel panel-default">
        <div class="panel-heading">
            <!--<ul class="nav nav-pills pull-right">
              <li style=" padding-top:4px; padding-right:15px"><button class="btn m-b-xs btn-sm btn-primary btn-addon" ui-sref="app.bus.add"><i class="fa fa-plus"></i>添加车票</button></li>
            </ul>-->
            包车管理
        </div>
        <form  name="charterform" id="J_charter_form"  ng-submit="pageRequest.getResponse()" >
            <div class="row wrapper form-horizontal">
                <div class="col-sm-1">
                    <label class="control-label f12">用户昵称</label>
                </div>
                <div class="col-sm-3">
                    <input type="text" class="input-sm form-control"  name="commName" placeholder="姓名/手机号" ng-model="commName">
                </div>
                <div class="col-sm-1">
                    <label class="control-label f12">出发地</label>
                </div>
                <div class="col-sm-3">
                    <input type="text" class="input-sm form-control" name="startLocation" placeholder="出发地点名称" ng-model="startLocation">
                </div>
                <div class="col-sm-1">
                    <label class="control-label f12">目的地</label>
                </div>
                <div class="col-sm-3">
                    <input type="text" class="input-sm form-control" name="endLocation" placeholder="目的地名称" ng-model="endLocation">
                </div>
            </div>
            <div class="row wrapper form-horizontal" style="padding-top:0px;">
                <div class="col-sm-1">
                    <label class="control-label f12">支付状态</label>
                </div>
                <div class="col-sm-3">
                    <select  class="input-sm form-control"  name="caseStatus"  >
                        <option  ng-repeat="caseStatus in caseStatusname" value="{{caseStatus}}"  placeholder="支付状态" selected = "selected">
                           {{selectname[caseStatus]}}
                        </option>
                    </select>
                </div>

                <div class="col-sm-1">
                    <label class="control-label f12">出发日期</label>
                </div>
                <div class="col-sm-3">
                    <input type="text" placeholder="出发日期如2017-01" class="input-sm form-control" ng-click="charterStart.open($event)" datepicker-popup="{{charterStart.format}}" name="charterStartTime" ng-model="charterStartTime" is-open="charterStart.opened" datepicker-options="charterStart.dateOptions" close-text="关闭" clear-text="清空"  current-text="今天" />
                </div>
                <div class="col-sm-1">
                    <label class="control-label f12">到达日期</label>
                </div>
                <div class="col-sm-3">
                    <input type="text" placeholder="到达日期如2017-01-01" class="input-sm form-control" ng-click="charterEnd.open($event)" datepicker-popup="{{charterEnd.format}}" name="charterEndTime" ng-model="charterEndTime" is-open="charterEnd.opened" datepicker-options="charterEnd.dateOptions" close-text="关闭" clear-text="清空"  current-text="今天" />
                </div>
            </div>

            <div class="row wrapper form-horizontal" style="padding-top:0px;">
                <div class="col-sm-5">
                   <!--  <button class="btn btn-sm btn-default btn-addon" type="button" ng-click="deleteRow()"><i class="fa fa-trash-o"></i>批量删除</button> -->
                </div>
                <div class="col-sm-3">
                </div>
                <div class="col-sm-4  ">
                    <!-- <button class="btn btn-sm btn-default pull-right m-l"  id="restData">清除</button> -->
                    <button class="btn btn-sm btn-primary pull-right"  >搜索</button>
                </div>
            </div>
        </form>
        <div class="table-responsive" style="overflow: hidden">
            <table  cellpadding="0" cellspacing="0" border="0" class=" dataTable table table-striped b-t b-light table-condensed text-xs">
                <thead>
                <tr>
                    <!-- <th>
                        <label class="i-checks m-b-none">
                            <input type="checkbox" ng-click="selectAll()"><i></i>
                        </label>
                    </th> -->
                    <th class="hidden">工单号</th>
                    <th sort-name ="COMMUNICATE_NAME">联系人</th>
                    <th sort-name ="COMMUNICATE_MOBILE">联系方式</th>
                    <th sort-name ="START_LOCATION">出发地点</th>
                    <th sort-name ="END_LOCATION">目的地</th>
                    <th sort-name ="CHARTER_START_TIME">出发时间</th>
                    <th sort-name ="CHARTER_END_TIME">结束时间</th>
                    <th sort-name ="TOTALFEE">消费金额</th>
                    <th sort-name ="ORDER_STATUS">支付状态</th>
                    <th sort-name ="NEED_INFO">代驾</th>
                    <th sort-name ="CHARTER_TYPE">包车类型</th>
                    <th sort-name ="CHARTER_COUNT">乘坐人数</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in pageResponse.rows">
                   <!--  <td>
                        <label class="i-checks m-b-none">
                            <input type="checkbox"  ng-model="item.selected"><i></i>
                        </label>
                    </td> -->
                    <td hidden ng-bind="item.charterid"></td>
                    <td ng-bind="item.commName"></td>
                    <!--<td ng-bind=""></td>-->
                    <td ng-bind="item.commMobile"></td>
                    <td ng-bind="item.startLocation"></td>
                    <td ng-bind="item.endLocation"></td>
                    <td >{{item.charterStartTime|date:'yyyy-MM-dd HH:mm'}}</td>
                    <td>{{item.charterEndTime | date:'yyyy-MM-dd HH:mm'}}</td>
                    <td ng-bind="item.totalfee"></td>
                    <td>
                        <span ng-show="item.caseStatus==1">待审核</span>
                        <span ng-show="item.caseStatus==2">审核失败</span>
                        <span ng-show="item.caseStatus==3">未支付</span>
                        <span ng-show="item.caseStatus==4">支付失败</span>
                        <span ng-show="item.caseStatus==5">已支付</span>
                        <span ng-show="item.caseStatus==6">已完成</span>
                    </td>
                    <td ng-bind="queryneedinfo[item.needInfo]"></td>
                    <td >
                        <span ng-show="item.charterType==1">单程</span>
                        <span ng-show="item.charterType==2">往返</span>
                        <span ng-show="item.charterType==3">包天</span>
                    </td>
                    <td ng-bind="item.charterCount"></td>


                    <td>
                        <a ui-sref="app.charterbus.edit({charterid:item.charterid})"
                           data-original-title="编辑">
                            <span class="label label-primary">编辑</span>
                        </a>
                       <!--  <a ng-click="charterdetail(item.charterid)" data-original-title="编辑">
                            <span class="label label-primary">详情</span>
                        </a> -->
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <footer class="panel-footer">
            <div class="box-body" table-pagination></div>
        </footer>
    </div>
</div>