<div class="wrapper-md" ng-controller="ViewOrderController">
  	<div class="panel panel-default">
    	<div class="panel-heading"  style="position: relative;">
		    
     		 景点订单列表
     		 <ul class="nav nav-pills pull-right">
				<li style=" padding-top:4px; padding-right:15px"><button class="btn m-b-xs btn-sm btn-primary btn-addon" ng-click="openDownloadApkModel()"><i class="glyphicon glyphicon-save"></i>下载验票APP</button></li>
				<li style=" padding-top:4px; padding-right:15px" ng-click="openDownloadExcelModel()"><button class="btn m-b-xs btn-sm btn-info btn-addon"><i class="fa fa-file-excel-o"></i>导出到Excel</button></li>
	        </ul>
	        
		</div>
    	<form class="row wrapper" id="J_search_form" ng-submit="pageRequest.getResponse()">
      		<!-- <div class="col-sm-5 m-b-xs"> -->
        		<!-- <button class="btn m-b-xs btn-sm btn-default btn-addon" disabled><i class="fa fa-trash-o"></i>批量删除</button> -->
      		<!-- </div>
	      	<div class="col-sm-3">
	      	</div>
      		<div class="col-sm-4">
        		<div class="input-group">
          			<input type="text" class="input-sm form-control" name="keyword" placeholder="输入景点名称">
          			<span class="input-group-btn">
            			<button class="btn btn-sm btn-default" >查询</button>
          			</span>
        		</div>
      		</div> -->
      		<div class="row wrapper form-horizontal" >
                <div class="col-sm-1"  ng-if="session_user.access == 'systemUser'" style="margin-bottom: 20px;">
                    <label class="control-label f12">景点名称</label>
                </div>
                <div class="col-sm-3"  ng-if="session_user.access == 'systemUser'" style="margin-bottom: 20px;">
                    <input type="text" class="form-control" name="keyword" placeholder="请输入景点名称">
                </div>
                <div class="col-sm-1" style="margin-bottom: 20px;">
                    <label class="control-label f12">有效时间</label>
                </div>
                <div class="col-sm-3" style="margin-bottom: 20px;">
                    <input type="text" placeholder="注册时间如2017-01-01" class="input-sm form-control" ng-click="viewOrder.open($event)" datepicker-popup="{{viewOrder.format}}" name="newTime" ng-model="newTime" is-open="viewOrder.opened" datepicker-options="viewOrder.dateOptions" close-text="关闭" clear-text="清空"  current-text="今天" />
                </div>
                <div class="col-sm-1" style="margin-bottom: 20px;">
                    <label class="control-label f12">票据校验码</label>
                </div>
                <div class="col-sm-3" style="margin-bottom: 20px;">
                    <input type="text" class="form-control" name="ticketCode" placeholder="请输入票据校验码">
				</div>
				<div class="col-sm-1">
                    <label class="control-label f12">游客信息</label>
                </div>
				<div class="col-sm-3" >
                    <input type="text" class="form-control" name="userinfo" placeholder="请输入游客手机号/订单号">
				</div>
				
            	<div class="col-sm-4 col-sm-offset-8">
                    <button class="btn btn-sm btn-primary pull-right">搜索</button>
                </div>
            </div>
    	</form>
    	<div class="table-responsive" style="overflow: hidden">
	      	<table cellpadding="0" cellspacing="0" border="0" class=" dataTable table table-striped b-t b-light table-condensed text-xs">
	        	<thead>
	        		<tr>
						<th sort-name = "ORDERID">订单号</th>
						<th>来源票ID</th>
						<th sort-name = "CREATETIME">订单创建时间</th>
						<th sort-name = "USEDATE">使用日期</th>
						<th sort-name = "VIEW_NAME">景区</th>
						<th>游客姓名</th>
						<th>游客手机号</th>
						<th sort-name = "TICKET_PRICE" ng-if="session_user.access == 'systemUser'">票价</th>
						<th sort-name = "VIEW_PRICE_TYPE" ng-if="session_user.access == 'systemUser'">类型</th>
						<th ng-if="session_user.access == 'systemUser'" sort-name = "VIEW_COUPON">折扣</th>
						<th ng-if="session_user.access == 'systemUser'">实付价格</th>
						<th>门票状态</th>
						<th sort-name = "TICKET_CODE">票据校验码</th>
						<th>操作</th>
					</tr>
	        	</thead>
	        	<tbody>
		        	<tr ng-repeat="item in pageResponse.ticketOrders">
						<td ng-bind="item.orderid"></td>
						<td ng-bind="item.sourceid"></td>
						<td>{{item.createTime | date: 'yyyy-MM-dd HH:MM:ss'}}</td>
						<td>{{item.useDate | date: 'yyyy-MM-dd'}}</td>
						<td ng-bind="item.viewName"></td>
						<!-- <td ng-bind="item.userid"></td> -->
						<td>
							<span ng-if="item.username != '超级管理'" ng-bind="item.username"></span>
							<span ng-if="item.username == '超级管理'" ng-bind="item.name"></span>
						</td>
						<td>
							<span ng-if="item.username != '超级管理'" ng-bind="item.phone"></span>
							<span ng-if="item.username == '超级管理'" ng-bind="item.userPhone"></span>
						</td>
						<td ng-bind="item.ticketPrice" ng-if="session_user.access == 'systemUser'"></td>
						<td ng-bind="item.viewPriceType" ng-if="session_user.access == 'systemUser'"></td>
						<td ng-bind="item.viewCoupon" ng-if="session_user.access == 'systemUser'"></td>
						<td ng-bind="item.couponPrice" ng-if="session_user.access == 'systemUser'"></td>
						<td>
							<span ng-if="item.ticketStatus == 1">未付费</span>
							<span ng-if="item.ticketStatus == 2">已付费未使用</span>
							<span ng-if="item.ticketStatus == 3">已使用</span>
							<span ng-if="item.ticketStatus == 4">正在退款</span>
							<span ng-if="item.ticketStatus == 5">已退款</span>
						</td>
						<td ng-bind="item.ticketCode"></td>
						<th>
							<a  ng-if="item.ticketStatus == 2"  ng-click="checkTicket(item.orderid)">
							  	<span class="label label-danger">验票</span>
							</a>
							<a  ng-if="item.ticketStatus != 2" >
							  	<span class="label label-default">验票</span>
							</a>
						</th>
		        	</tr>
		        </tbody>
	  		</table>
    	</div>
	    <footer class="panel-footer">
	      	<div class="box-body" table-pagination></div>
	    </footer>
  	</div>
</div>